*{
    margin: 0;
    padding: 0;
}
section{
    /* background-color: gray; */
}

p.copy{
    color: white;
}
img.Devimg{
    width: 200px; height: 100px;
}

img.Proyecto{
    width: 208px; height: 208px;
}